<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.deviceadmin">

  <receiver
    android:name=".DeviceAdminReceiverImpl"
    android:exported="true"
    android:permission="android.permission.BIND_DEVICE_ADMIN">
    <intent-filter>
      <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
    </intent-filter>
  </receiver>
</manifest>
